<h1>Login to 🕊Facebook_Clone🕊</h1>
<%= form_with(scope: :session, url:sessions_path, local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Login" %>
  <% end %>
<footer>

  <div>Copyright © 2021 L.Takahashi INC All RIGHTS RESERVED.</div>
</footer>