<h1>Sign to Facebook_Clone</h1>
<% if @user.errors.any? %>
	<h2><%= pluralize(@user.errors.count, "error") %>Errors、 <%= @user.name %> couldn't register</h2>
		<ul>
		<% @user.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
		</ul>
<% end %>
<%= form_with(model: @user, local: true ) do |f| %>
<ul class="users_form_ul" style="list-style-type: none;" >
  <li>
    <%= f.label "Name" %>
    <%= f.text_field :name %><br><br>
  </li>
  <li>
    <%= f.label "Email address" %>
    <%= f.text_field :email %><br><br>
  </li>
  <li>
    <%= f.label "Password"  %>
    <%= f.password_field :password %><br><br><br>
  </li>
  <li>
    <%= f.label :Password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </li>
  <li>
    <%= f.submit "Create account" %>
  </li>
</ul>
<% end %>

  