<h3>Send the informations below</h3>
<%= form_with(model: @picture_blog, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <p>Title:<%= @picture_blog.title %></p>
  <p>Text:<%= @picture_blog.content %></p>
  <%= form.submit "Register" %>
  <%= form.submit "Back", name: 'back' %>
<% end %>