<h1>List of blogs</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Poster</th>
    <th>Pic</th>
  </tr>
<% @picture_blogs.each do |picture_blog| %>
  <tr>
    <td><%= picture_blog.title %></td>
    <td><%= picture_blog.content %></td>
    <td><%= blog.user.name %></td>
    <td><%= link_to 'Check the details', picture_blog_path(picture_blog.id) %></td>
    <td><%= link_to "Edit blog", edit_picture_blog_path(picture_blog.id), data: { confirm: 'Are you sure you wanna edit' } %></td>
    <td><%= link_to 'Delete blog', picture_blog_path(picture_blog.id), method: :delete ,data: { confirm: 'Are you sure you wanna delete?' } %></td>
  </tr>
<% end %>
</table>
<br>
<%= link_to 'Post a new blog', new_picture_blog_path %>