<h1>Details screen of blog</h1>
<p>Title: <%= @picture_blog.title %></p>
<p>Text: <%= @picture_blog.content %></p>
<p>Poster: <%= @picture_blog.user.name %></p>
<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <%= image_tag @picture_blog.image.url %>
</p>
<%= link_to 'Edit', edit_feed_path(@picture_blog) %> |
<%= link_to 'Back', picture_blogs_path %>
<%= link_to "Go back to list of blog", picture_blogs_path %>